.app-body {
    padding-top: @header-bar-height;
    padding-bottom: @menu-bar-height;
    overflow-x: hidden;
    background-color:@body-bg-cl;
    min-height: 100vh;
    &.no-menu {
        padding-bottom: 0;
    }
    &.no-header {
        padding-top: 0;
    }
}

// top-bar样式
.top-bar-container {
    position: fixed;
    background-color: @header-bg-cl;
    width: 100%;
    z-index: @menu-z;
    border-bottom: 1px solid #c3c3c3;
    .top-bar-back {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        color: #333;
        line-height: @header-bar-height;
        text-align: center;
        font-size: @px*64;
        z-index: 10;
        height: @header-bar-height;
        width: @header-bar-height;
    }
    .title {
        line-height: @header-bar-height;
        .font(36);
        color: #fff;
        position: relative;
        text-align: center;
    }
    .right-text {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 10px;
        text-align: right;
        line-height: @header-bar-height;
        .font(42);
    }
}

//menu样式
.bottom-menu {
    position: fixed;
    z-index: @menu-z;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: @bottom-bg-cl;
    border-top: 1px solid #c3c3c3;
    ul {
        height: @menu-bar-height;
    }
    .menu-item {
        text-align: center;
        position:relative;
        &.new a:after{
                    content: '';
                    position:absolute;
                    top:0;
                    right:50*@px;
                    z-index:10;
                    width:@px*25;
                    height:@px*25;
                    border-radius:50%;
                    background-color:#ff6666; 
                }
        a {
           color:@bottom-menu-cl;
            .font(24);
            .menu-icon {
                
                .font(42);
              
              


            }
            .text {
                padding-top:3px;
                line-height: 1;
               
            }
        }
        &.active {
            a {
                color: @main-cl;
            }
        }
    }
}

.banner-container{
    img{
        display:block;
        width:100%;
        height:@px*420;
    }
}


.home-page{
    background-color:@body-bg-cl;
    .sort-menu{
        margin-top:@part-margin;
        height:@px*180;
        text-align:center;
        background-color:#fff;
        .menu-item{
            position:relative;
           width:@px*80;
           height:@px*75;
           background-size:cover;
           background-repeat: no-repeat;
           left:50%;
           margin-left:-@px*40;
           margin-bottom:@px*25;
        }
        .yujia{
            background-image: url('../images/sort-menu01.png');
        }
        .qicai{
            background-image: url('../images/sort-menu02.png');
        }
        .danche{
            background-image: url('../images/sort-menu03.png');
           
        }
        .youyong{
            background-image: url('../images/sort-menu04.png');

        }
        .quanbu{
            background-image: url('../images/sort-menu01.png');
        }
        .text{
            .font(26);
            line-height:1;
        }
    }
    .block-menu{
        margin-top:@px*20;
        padding: 0 5*@px;
        .cell{
            margin: 0 5*@px;
            text-align:center;
            line-height:@px*188;
            color:#fff;
            .font(28);
            a{
                color:#fff;
            }
        }
    }
    .recommond-part{
        .title{
            line-height:88*@px;
            margin-top:@px*20;
            background-color:#fff;
            color:#333;
            text-align:center;
            .font(28);
        }
        .list-item{
            
            margin-bottom: @px*20;
            background-color:#ecefef;
            .question{
                margin-top:@px*25;
                padding: 0 @px*20;
                .font(32);
                color:#333;
                .keyword{
                    color:#fd5b63;
                }
            }
            .info{
                 padding: @px*10 @px*20 0;
                .font(26);
                color:#5f5f5f;
            }
            .pic-part{
                position:relative;
                padding-top:@px*100;
                .pic{
                    display:block;
                    width:100%;
                    height:@px*110;
                }
                .one-btn{
                    background-color:#00cc98;
                    color:#fff;
                    .font(32);
                    line-height:@px*80;
                    width:248*@px;
                    border-radius:@px*40;
                    text-align:center;
                    
                    position:absolute;
                    top:@px*60;
                    left:50%;
                    margin-left:-100*@px; 
                }
            }
        }
    }
}

.daren-page{
    .list-container{
        margin-top: @px*20;
        position:relative;
        .bigImg{
            width:100%;
            height:@px*440;
            display:block;
        }
        .tips{
            position:absolute;
            top:0;
            left:0;
            z-index:10;
            background-color:rgba(0,0,0,0.3);
            width:100%;
            line-height:50*@px;
            text-align:center;
            color:#fff;
            .font(36);
        }
        .smallBox-container{
            padding: @px*20 @px*15;
            background-color:#fff;
            .smallBox{
                margin: 0 @px*10;
                img{
                    display:block;
                    width:100%;
                    height:@px*160;
                }
                .name{
                    .font(28);
                    line-height:@px*50;
                    color:#2c2c2c;
                }
                .detail{
                    .font(24);
                    color:#999;
                }
            }
        }
    }
}

.message-page{
    .time-part{
        height:@px*80;
        padding: @px*20;
        .time{
            line-height:@px*40;
            border-radius:@px*20;
            text-align:center;
            width:@px*280;
            position:relative;
            left:50%;
            margin-left:-@px*140;
            background-color:#e4e4e4;
        }
    }
    .detail{
        background-color:#fff;
        padding:0 @px*20 ;
        .title{
             .font(32);
            color:#333;
            line-height:@px*70;
        }
        .question{
            .font(30);
            color:#999;
        }
        .action-btn{
            line-height:@px*70;
            text-align:center;
            color:#00cc99;
            .font(28);
        }
        .blank{
            line-height:@px*20;
        }
    }
}

